<mat-toolbar color="primary" class="">
    <mat-toolbar-row >
        <div class="row between-xs middle header-row"> <!-- Este row es los Estilos Fledbox -->
          <button href="#" (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm="true" class="menu-icon">
            <mat-icon>menu</mat-icon>
          </button>  

          <nav fxShow="true" fxHide.lt-md="true">
              <a mat-button routerLink="/home" routerLinkActive="active"> Home </a>
              <a mat-button routerLink="/products" routerLinkActive="active"> Productos </a>
              <a mat-button routerLink="/contact" routerLinkActive="active"> Contacto </a>
              <a mat-button routerLink="/about-us" routerLinkActive="active"> Acerca de Nosotros </a>
              <a mat-button routerLink="/auth/login" routerLinkActive="active"> Admin </a>
          </nav>
                
          <a class="cart-button" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn" routerLink="order" > 
              <mat-icon> shopping_cart </mat-icon> 
              <span> Carrito </span>
          </a>
        </div>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container  class="example-container"> <!--fxFlexFill-->
  <mat-sidenav #sidenav >
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active"> Home </a>
      <a mat-list-item routerLink="/products" routerLinkActive="active"> Productos </a>
      <a mat-list-item  routerLink="/contact" routerLinkActive="active"> Contacto </a>
      <a mat-list-item routerLink="/about-us" routerLinkActive="active"> Acerca de nosotros </a>
      <a mat-list-item routerLink="/auth/login" routerLinkActive="active"> Admin </a>
      <a (click)="sidenav.toggle()" href="#" mat-button>Cerrar</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

