<div class="about-us">
    <div class="about-section about-introduction">
        <h1 class="about-heading"> ¿Quiénes somos? </h1>
        <p class="about-description">
            Somos un ecommerce de ropa y diferentes accesorios pensados y diseñados para ti, y que creemos en las compras en línea como una forma de vida ¡La tecnología existe y hacemos el mejor uso de ella!
        </p>
        <img class="about-image" [src]="image[1]" alt="Ecommerce" >
    </div>

    <div class="about-section about-advantage">
        <div>
            <h3 class="about-heading about-advantage-title">
                ¿Qué ventajas tiene comprar en línea?
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="box">
                    <div class="about-box">
                        Ahorras tiempo, no tienes que recorrer toda la tienda para encontrar lo que se ajusta a tus necesidades y presupuesto.
                    </div>
                    <hr class="separator">
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="box">
                    <div class="about-box">
                        Reunes todas las características de todos los elementos que te interesan en un solo lugar.
                    </div>
                    <hr class="separator">
                </div>
            </div>       
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="box">
                    <div class="about-box">
                    Puedes pedir entrega a domicilio y recibir tus productos en la puerta de tu casa.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-section about-buy">
        <div>
            <h3 class="about-heading">
                ¿Por qué comprar en Blue Store?
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="box about-buy-list">
                    <ul>
                        <li>
                            Contamos con múltiples métodos de pago.
                        </li>
                        <li>
                            Poseemos atención al cliente 27/7 para ayudarte a resolver cualquier situación que se presente.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="box ">
                    <img class="about-image" [src]="image[0]" alt="Ecommerce" >
                </div>
            </div>       
        </div>
    </div>
</div>