<mat-stepper [orientation]="(stepperOrientation | async)!" 
    [linear]='true' #stepper 
    *ngIf= "(products$ | async ) as products"> <!---->
    <mat-step [completed]="(products.length === 0) ? false:true" > 
        <ng-template matStepLabel> Sus productos </ng-template>

        <div > <!--Me subscribo una vez en lugar de dos --> <!-- *ngIf="(products$ | async ) as products  "-->
            <p *ngIf="products.length === 0"> No hay productos en el carrito</p>

            <!-- <div class="row" *ngFor="let product of (products | cartProductsFilter)"> -->
            <div class="row" *ngFor="let product of products">

                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <img class="image" [src]="product.image" alt="" >
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="box order-features">

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="box">
                                    {{ product.title }}
                                </div>
                            </div>  
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="box ">
                                    {{ product.price | currency}}
                                    
                                </div>
                            </div> 
                            <!--
                            Estos dos elementos me sirven solo si uso el pipe de cartProductsFilter

                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="box order-features">
                                    {{ product.count }} Unidades
                                </div>
                            </div>  

                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="box order-features">
                                    <button mat-raised-button> Eliminar </button> 
                                </div>
                            </div>  -->          
                        </div>
                        
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="box order-features">
                        Total Producto: {{ product.price | currency}}
                        <!-- Esta linea me sirven solo si uso el pipe de cartProductsFilter 
                            Total Producto: {{ product.price * product.count | currency}} -->
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <div class="box order-features">
                      
                        <!--<button mat-raised-button>   </button> -->
                        <mat-icon class="button-delete" (click)="deleteProduct(product.id)" style="font-size: 35px"> delete_outline</mat-icon>
                          
                        <br>
                    </div>
                </div>
               
            </div>

            <!-- <div *ngIf="products.length !== 0">
                Subtotal: {{ "" }}
            </div> -->

            <div>
                <button  
                [disabled]="(products.length === 0) ? true:false"  
                mat-raised-button matStepperNext class="button-stepper">
                Siguiente</button>
            </div>
        </div>

        
      <!--<div>
            <button *ngIf="(products$ | async ) as products" 
            [disabled]="((products).length) > 0 ? true:false" mat-raised-button matStepperNext class="button-stepper">Siguiente</button>
       </div>-->
    </mat-step>
    <mat-step [stepControl]="formGroup1">
        <ng-template matStepLabel> Datos personales </ng-template>
        <h1>Agregue los datos de envío</h1>
        <form [formGroup]="formGroup1">
            <mat-card>
                <mat-card-header>
                    
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <mat-form-field class="order-field" appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <mat-form-field class="order-field" appearance="outline">
                                <mat-label>Apellido</mat-label>
                                <input matInput formControlName="apellido" type="text">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <mat-form-field class="order-field" appearance="outline">
                                <mat-label>Documento de identidad</mat-label>
                                <input matInput formControlName="documento" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <mat-form-field class="order-field" appearance="outline"> 
                                <textarea matInput formControlName="direccion"></textarea>
                                <mat-label>Dirección</mat-label>
                            </mat-form-field>      
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <mat-form-field class="order-field" appearance="outline">
                                <mat-label>Ciudad</mat-label>
                                <input matInput formControlName="ciudad">
                                <!--<mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                                  City is <strong>required</strong>
                                </mat-error>-->
                              </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <mat-form-field class="order-field" appearance="outline">
                                <mat-label>Estado</mat-label>
                                <input matInput formControlName="estado">
                                <!--<mat-error *ngIf="addressForm.controls['city'].hasError('required')">
                                  City is <strong>required</strong>
                                </mat-error>-->
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <mat-label>Tipo de envío</mat-label>
                            <mat-radio-group class="order-field" formControlName="shipping">
                                <mat-radio-button value="free">Envío Gratis</mat-radio-button>
                                <mat-radio-button value="priority">Envío con Prioridad Máxima</mat-radio-button>
                                <mat-radio-button value="nextday"> Envío Día Siguiente</mat-radio-button>
                              </mat-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="">
                <button mat-raised-button matStepperPrevious class="button-stepper">Anterior</button>
                <button mat-raised-button matStepperNext class="button-stepper">Siguiente</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="formGroup2"> <!--[stepControl]="formGroup2"-->
        <ng-template matStepLabel> Pago </ng-template>
        
        <form *ngIf="!compraExitosa" [formGroup]="formGroup2"><!--[formGroup]="formGroup2"-->
            <h1>Forma de Pago</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <mat-label>Seleccione la forma de pago:</mat-label>
                    <mat-radio-group class="order-field" formControlName="formaPago">
                        <mat-radio-button value="efectivo"> Efectivo</mat-radio-button>
                        <mat-radio-button value="transfer">Transferencia bancaria</mat-radio-button>
                        <mat-radio-button value="card">Tarjeta de Credito</mat-radio-button>
                        <mat-radio-button value="bitcoin">Bitcoin</mat-radio-button>        
                        <mat-radio-button value="paypal"> Paypal</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div  class="col-xs-12 col-sm-12 col-md-12">
                    <button mat-raised-button class="button-pay" (click)="pagoCompra()">Pagar</button>
                    <mat-error *ngIf="formError"> {{ formErrorMesagge }} </mat-error>
                </div>
                
            </div>
        </form>
    
        <div *ngIf="" class=""> <!-- form2.formaPago.invalid && !compraExitosa-->
            <button mat-raised-button matStepperPrevious class="button-stepper">Anterior</button>
            <button mat-raised-button (click)="stepper.reset()" class="button-stepper">Reset</button> <!--  -->
        </div>

        <div *ngIf="compraExitosa" class="messageCompra">
            ¡Gracias por su compra, usted recibirá un correo con su orden de compra!
        </div>
    </mat-step>
</mat-stepper>
