<div class="register-content">

    <form [formGroup]="form" (ngSubmit)="register($event)" class="register-form">
        <mat-card>
            <mat-card-title>
                Registro
            </mat-card-title>
            <mat-card-content class="register-card">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="box">
                            <mat-form-field class="contact-form-field">
                                <input matInput placeholder="Nombre" formControlName="name" type="text">
                                <mat-error *ngIf="nameField!.errors && nameField!.dirty">
                                    <p *ngIf="nameField!.hasError('required')"> Campo requerido </p>
                                    <p *ngIf=""></p>
                
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="box">
                            <mat-form-field class="contact-form-field">
                                <input matInput placeholder="Apellido" formControlName="lastName" type="text">
                                <mat-error *ngIf="lastNameField!.errors && lastNameField!.dirty">
                                    <p *ngIf="lastNameField!.hasError('required')"> Campo requerido </p>
                                    <p *ngIf=""></p>
                
                                </mat-error>
                            </mat-form-field>
                        </div>   
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <mat-form-field class="contact-form-field">
                            <input matInput placeholder="Fecha de Nacimiento" formControlName="birthDate" type="date">
                            <mat-error *ngIf="birthDateField!.errors && birthDateField!.dirty">
                                <p *ngIf="birthDateField!.hasError('required')">  Campo requerido </p>
                                <p *ngIf=""></p>
            
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <mat-radio-group aria-label="Select an option" formControlName="sex" class="contact-form-field">
                            <mat-radio-button value="male" class="radio-button-field"> Masculino </mat-radio-button>
                            <mat-radio-button value="female" class="radio-button-field" > Femenino </mat-radio-button>
                            <mat-radio-button value="other" class="radio-button-field" > Otro </mat-radio-button>
                            <mat-error *ngIf="sexField!.errors && sexField!.dirty">
                                <p *ngIf="sexField!.hasError('required')"> Campo requerido</p>
                                <p *ngIf=""></p>
            
                            </mat-error>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <mat-form-field class="contact-form-field">
                            <input matInput placeholder="Correo Electrónico" formControlName="email" type="email">
                            <mat-error *ngIf="emailField!.errors && emailField!.dirty">
                                <p *ngIf="emailField!.hasError('required')"> Campo requerido </p>
                                <p *ngIf="emailField!.hasError('email')"> Error al introducir correo </p>
                            </mat-error>
                        </mat-form-field> 
                        <div *ngIf="!registerInFireBaseSuccess">
                            <mat-error>
                                {{ registerInFireBaseMessage }}
                            </mat-error>                              
                        </div>       
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <mat-form-field class="contact-form-field">
                            <input matInput placeholder="Contraseña" formControlName="password" type="password">
                            <mat-error *ngIf="passwordField!.errors && passwordField!.dirty">
                                <p *ngIf="passwordField!.hasError('required')"> Campo requerido </p>
                                <p *ngIf="passwordField!.hasError('minlength')"> Contraseña demasiado corta debe tener al menos 8 caracteres</p>
            
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <mat-form-field class="contact-form-field">
                            <input matInput placeholder="Repita Contraseña"  type="password">
                            <!-- <mat-error *ngIf="repetPassword.errors && repetPassword.dirty">
                                <p *ngIf="repetPassword.hasError('required')"> Campo requerido </p>
                                <p *ngIf="repetPassword.hasError('samePassword')"> Repetir Contraseña difiere del campo Contraseña </p>
            
                            </mat-error>-->
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card-actions>
            <div class="row">
                <div class="col-xs">
                    <div class="box register-actions">
                        <button mat-raised-button type="submit"> Regístrate </button>
                        <button mat-raised-button type="reset"> Reset </button>
                    </div>
               
                </div>
            </div>
        </mat-card-actions>
    </form>
</div>
