.product-list-content {
   background-color: white;
   padding: 3%;
}

.products-table {
    width: 96%;
    margin: 2%;
}

.create-product {
    text-align: right;
    margin: 0 2%;

}

.create-product-button {
    font-size: 20px;
}